.game {
  .section1 {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .section1 img {
    width: 100%;
    height: auto;
    display: block;
  }

  .section1 .section1-content {
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: #013A82;
  }

  .section1 .section1-content h1 {
    font-size: 120px;
    text-align: center;
    margin: 0;
    z-index: 1;
  }

  .section1 .section1-content p {
    font-size: 30px;
    text-align: center;
    margin: 0;
    z-index: 1;
  }

  .section2 {
    width: 100%;
    overflow: hidden;
  }

  .section2 img {
    width: 100%;
    height: auto;
    display: block;
  }

  .section3 {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .section3 img {
    width: 100%;
    height: auto;
    display: block;
  }

  .section3 p {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    text-align: center;
    z-index: 1;
  }

}